<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="static/favicon.ico">
    <title>流域水质预测系统</title>
    <meta name="author" content="vue-admin-beautiful">
    <link rel="stylesheet" href="static/css/loading.css">
    <link href="static/css/chunk-elementUI.0e3a750b.css" rel="stylesheet">
    <link href="static/css/chunk-libs.f355b143.css" rel="stylesheet">
    <link href="static/css/app.141c7eb7.css" rel="stylesheet">
</head>
<body style="background: white">
<noscript>非常抱歉鉴于安全考量,您无法查看流域水质预测系统 源代码，该系统基于开发</noscript>
<div id="vue-admin-beautiful">
    <div class="first-loading-wrp">
        <div class="loading-wrp"><span class="dot dot-spin"><i></i> <i></i> <i></i> <i></i></span></div>
        <h1>流域水质预测系统</h1></div>
</div>
<script src="static/js/chunk-elementUI.03ae5c1b.js"></script>
<script src="static/js/chunk-libs.c85c2f75.js"></script>
<script src="static/js/app.10894496.js"></script>
</body>
</html>